In [1]:
import pandas as pd

# Importando os datasets

In [ ]:
df_bts = pd.read_csv('./inputs/Bts.csv')
df_test_alunos = pd.read_csv('./inputs/meds_test_alunos.csv')
df_train_alunos = pd.read_csv('./inputs/meds_train_alunos.csv')

# Pré-processamento

> Realizando pré-processamento para o dataset de `Bts`

In [5]:
df_bts.head()

,ponto_id,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,lat,lon,indoor
0,6604,-103.705000,-110.425000,-107.381667,-110.330000,-108.345000,-106.590000,-107.153333,-102.120000,-115.00,5.0,3.0,2.0,-8.055786,-34.951505,True
1,5515,-105.225000,-115.000000,-105.210000,-115.000000,-105.835000,-115.000000,-88.470000,-94.024286,-108.12,5.0,3.0,2.0,-8.055784,-34.951608,True
2,5049,-102.610000,-115.000000,-101.380000,-115.000000,-104.295000,-97.360000,-96.980000,-99.572500,-115.00,5.0,3.0,2.0,-8.055506,-34.951693,True
3,8737,-89.140000,-97.251429,-86.642857,-96.036667,-96.592500,-92.460000,-86.813333,-102.688000,-87.27,4.0,7.0,2.0,-8.050390,-34.959630,False
4,1203,-109.088333,-107.200000,-107.010000,-108.430000,-104.845714,-101.435714,-103.065000,-102.110000,-115.00,5.0,3.0,2.0,-8.055380,-34.951736,True

In [10]:
df_bts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   grupo       9 non-null      int64
 1   btsId       9 non-null      object
 2   btsNetNome  9 non-null      object
 3   lat         9 non-null      float64
 4   lon         9 non-null      float64
 5   cch         9 non-null      int64
 6   azimuth     9 non-null      int64
 7   RssiId      9 non-null      object
dtypes: float64(2), int64(3), object(3)
memory usage: 708.0+ bytes

In [11]:
df_bts.isnull().sum()

grupo         0
btsId         0
btsNetNome    0
lat           0
lon           0
cch           0
azimuth       0
RssiId        0
dtype: int64

In [12]:
df_bts[df_bts.duplicated()].any()

grupo         False
btsId         False
btsNetNome    False
lat           False
lon           False
cch           False
azimuth       False
RssiId        False
dtype: bool

> Realizando pré-processamento para o dataset de `Test_alunos`

In [6]:
df_test_alunos.head()

,ponto_id,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3
0,0,-115.0,-115.0,-115.0,-115.0,-115.0,-115.0,-90.93,-84.113333,-115.0,5.0,3.0,2.0
1,3,-115.0,-115.0,-115.0,-115.0,-115.0,-115.0,-90.93,-84.113333,-115.0,5.0,3.0,2.0
2,8,-115.0,-115.0,-115.0,-115.0,-115.0,-115.0,-90.93,-86.090000,-115.0,5.0,3.0,2.0
3,10,-115.0,-115.0,-115.0,-115.0,-115.0,-115.0,-90.93,-84.113333,-115.0,5.0,3.0,2.0
4,12,-115.0,-115.0,-115.0,-115.0,-115.0,-115.0,-90.93,-84.113333,-115.0,5.0,3.0,2.0

In [17]:
df_test_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2904 entries, 0 to 2903
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ponto_id  2904 non-null   int64
 1   rssi_1_1  2904 non-null   float64
 2   rssi_1_2  2904 non-null   float64
 3   rssi_1_3  2904 non-null   float64
 4   rssi_2_1  2904 non-null   float64
 5   rssi_2_2  2904 non-null   float64
 6   rssi_2_3  2904 non-null   float64
 7   rssi_3_1  2904 non-null   float64
 8   rssi_3_2  2904 non-null   float64
 9   rssi_3_3  2904 non-null   float64
 10  delay_1   2904 non-null   float64
 11  delay_2   2904 non-null   float64
 12  delay_3   2904 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 295.1 KB

In [18]:
df_test_alunos.isnull().sum()

ponto_id    0
rssi_1_1    0
rssi_1_2    0
rssi_1_3    0
rssi_2_1    0
rssi_2_2    0
rssi_2_3    0
rssi_3_1    0
rssi_3_2    0
rssi_3_3    0
delay_1     0
delay_2     0
delay_3     0
dtype: int64

In [19]:
df_test_alunos[df_test_alunos.duplicated()].any()

ponto_id    False
rssi_1_1    False
rssi_1_2    False
rssi_1_3    False
rssi_2_1    False
rssi_2_2    False
rssi_2_3    False
rssi_3_1    False
rssi_3_2    False
rssi_3_3    False
delay_1     False
delay_2     False
delay_3     False
dtype: bool

> Realizando pré-processamento para o dataset de `Train_alunos`

In [7]:
df_train_alunos.head()

,ponto_id,rssi_1_1,rssi_1_2,rssi_1_3,rssi_2_1,rssi_2_2,rssi_2_3,rssi_3_1,rssi_3_2,rssi_3_3,delay_1,delay_2,delay_3,lat,lon,indoor
0,6604,-103.705000,-110.425000,-107.381667,-110.330000,-108.345000,-106.590000,-107.153333,-102.120000,-115.00,5.0,3.0,2.0,-8.055786,-34.951505,True
1,5515,-105.225000,-115.000000,-105.210000,-115.000000,-105.835000,-115.000000,-88.470000,-94.024286,-108.12,5.0,3.0,2.0,-8.055784,-34.951608,True
2,5049,-102.610000,-115.000000,-101.380000,-115.000000,-104.295000,-97.360000,-96.980000,-99.572500,-115.00,5.0,3.0,2.0,-8.055506,-34.951693,True
3,8737,-89.140000,-97.251429,-86.642857,-96.036667,-96.592500,-92.460000,-86.813333,-102.688000,-87.27,4.0,7.0,2.0,-8.050390,-34.959630,False
4,1203,-109.088333,-107.200000,-107.010000,-108.430000,-104.845714,-101.435714,-103.065000,-102.110000,-115.00,5.0,3.0,2.0,-8.055380,-34.951736,True

In [21]:
df_train_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6775 entries, 0 to 6774
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ponto_id  6775 non-null   int64
 1   rssi_1_1  6775 non-null   float64
 2   rssi_1_2  6775 non-null   float64
 3   rssi_1_3  6775 non-null   float64
 4   rssi_2_1  6775 non-null   float64
 5   rssi_2_2  6775 non-null   float64
 6   rssi_2_3  6775 non-null   float64
 7   rssi_3_1  6775 non-null   float64
 8   rssi_3_2  6775 non-null   float64
 9   rssi_3_3  6775 non-null   float64
 10  delay_1   6775 non-null   float64
 11  delay_2   6775 non-null   float64
 12  delay_3   6775 non-null   float64
 13  lat       6775 non-null   float64
 14  lon       6775 non-null   float64
 15  indoor    6775 non-null   bool
dtypes: bool(1), float64(14), int64(1)
memory usage: 800.7 KB

In [23]:
df_train_alunos.isnull().sum()

ponto_id    0
rssi_1_1    0
rssi_1_2    0
rssi_1_3    0
rssi_2_1    0
rssi_2_2    0
rssi_2_3    0
rssi_3_1    0
rssi_3_2    0
rssi_3_3    0
delay_1     0
delay_2     0
delay_3     0
lat         0
lon         0
indoor      0
dtype: int64

In [24]:
df_test_alunos[df_test_alunos.duplicated()].any()

ponto_id    False
rssi_1_1    False
rssi_1_2    False
rssi_1_3    False
rssi_2_1    False
rssi_2_2    False
rssi_2_3    False
rssi_3_1    False
rssi_3_2    False
rssi_3_3    False
delay_1     False
delay_2     False
delay_3     False
dtype: bool

# Análise dos dados pré-processados